html, body {
    background: black !important;
}

iframe {
    display: none;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-button,
*::-webkit-scrollbar-track,
*::-webkit-scrollbar-track-piece,
*::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-corner,
*::-webkit-resizer,
body *, *:before, *:after {
    -webkit-appearance: none !important;
    border-color: rgba(255, 255, 255, 0.10) !important;
    background: rgba(255, 255, 255, 0.10) !important;
    color: transparent !important;
    -webkit-text-fill-color: white !important;
    text-shadow: 0 0 0 transparent !important;
    box-shadow: none !important;
}

img, input[type=image] {
    outline: 1px solid rgba(255, 255, 255, 0.10) !important;
    opacity: 0.5;
    -webkit-filter: grayscale(100%);
}

::-webkit-input-placeholder {
   color: #ffffff !important;
}

/* Bootstrap specific */

.container {
    background: rgba(255, 0, 0, 0.20) !important;
}

.row {
    background: rgba(0, 0, 128, 0.20) !important;
}

[class*="span"] {
    background: rgba(0, 255, 0, 0.20) !important;
}

